.mark {
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #E6E6FA;
	border: 1px solid #D3D3D3;
	margin: 10px auto;
	width: 1050px;
}

.checkedAll {
	text-align: left;
	position: relative;
	width: 20px;
	height: 30px;
	top: 4px;
	left: 8px;
	float: left;
}

.box {
	position: relative;
	width: 15px;
	height: 15px;
	top: 0px;
	left: 10px;
}

.m {
	margin-top: 5px;
	float: left;
}

#all {
	margin-left: 10px;
	color: #FFFFFF;
}

#time {
	margin-left: 50px;
	color: #FFFFFF;
}

#info {
	margin-left: 190px;
	color: #FFFFFF;
}

#man {
	margin-left: 240px;
	color: #FFFFFF;
}

#value {
	margin-left: 75px;
	color: #FFFFFF;
}

#num{
	margin-left: 40px;
	color: #FFFFFF;
}

#state {
	margin-left: 90px;
	color: #FFFFFF;
}

#operate {
	margin-left: 65px;
	color: #FFFFFF;
}

#title {
	background-color: #E64346;
	border: 1px solid #D3D3D3;
	margin: 0 auto;
	width: 1050px;
	height: 30px;
}

#tail {
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #E64346;
	border: 1px solid #D3D3D3;
	margin: 0 auto;
	width: 1050px;
	height: 40px;
}

#subvalue {
	margin-top: 3px;
	float: left;
}

.subvalue {
	margin-left: 700px;
	font-size: x-large;
	color: #FFFFFF;
}

.subtotal {
	font-size: x-large;
	color: #FFFFFF;
}

.total {
	font-size: x-large;
	color: #FFFFFF;
}

#op {
	font-size: x-large;
	color: #FFFFFF;
	position: relative;
	float: right;
	top: -50px;
}

.checkbox {
	text-align: left;
	position: relative;
	width: 15px;
	height: 15px;
	left: 8px;
	top: 3px;
}

.time {
	position: relative;
	top: 70px;
	left: 40px;
}

.stuff {
	text-align: left;
	position: relative;
	left: 200px;
	width: 425px;
	height: 150px;
	"

}

.pic {
	position: relative;
	border: 1px solid #D3D3D3;
	left: 20px;
	top: 10px;
	right: 15px;
	bottom: 15px;
	width: 120px;
	height: 120px;
	float: left;
	" 

}

.dis {
	position: relative;
	left: 35px;
	width: 200px;
	height: 120px;
	top: 10px;
	float: left;
	"

}

.user {
	position: relative;
	left: 80px;
	width: 100px;
	height: 20px;
	top: 60px;
	float: left;
}

.name {
	position: relative;
	top: -20px;
	left: 15px;
	height: 10px;
}

.value {
	position: relative;
	left: 210px;
	width: 100px;
	height: 20px;
	top: 20px;
	float: left;
}

.price {
	position: relative;
	top: 0px;
	left: 10px;
	height: 10px;
	color: #ff5500;
}

.number{
	position: relative;
	top: 0px;
	left: 300px;
	height: 10px;
	color: #ff5500;
}

.state {
	position: relative;
	left: 365px;
	bottom: 0px;
	width: 100px;
	height: 20px;
	float: right;
}

.click {
	text-align: left;
	position: relative;
	width: 20px;
	height: 30px;
	float: left;
}

.dele {
	position: relative;
	left: 398px;
	bottom: 0px;
	width: 40px;
	height: 20px;
	float: right;
}

.pay {
	position: relative;
	left: 438px;
	bottom: 30px;
	width: 40px;
	height: 20px;
	float: right;
}

.w {
	width: 100%;
	margin: 0 auto;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

h1 input button {
	margin: 0;
	padding: 0;
}

body {
	background: #F6F6F6;
}

.f10 {
	color: #EE0030;
}

a {
	text-decoration: none;
	color: #999999;
	font-size: 12px;
	margin: 8px;
}

a:hover {
	color: #FF0033;
}

.shortcut {
	height: 32px;
	border-bottom: 1px solid #DDDDDD;
	background-color: #F2F2F2;
	font-size: 12px;
	line-height: 30px;
	color: #999;
}

.shortcut li {
	float: left;
}

header {
	height: 100px;
	background-color: #F5F7F8;
}

.city {
	margin-left: 200px;
}

input button {
	border: 0;
	outline: none;
}

.space {
	width: 1px;
	height: 10px;
	background-color: #ccc;
	margin: 10px 12px 0;
}

.middle {
	height: 140px;
	background-color: #F5F7F8;
	position: relative;
}

.logo {
	position: absolute;
	top: -30px;
	left: 0;
	box-shadow: 0px -10px 10px rgba(0, 0, 0, .3);
}

.logo a {
	display: block;
	width: 190px;
	height: 170px;
	background: url(../img/logo.jpg) no-repeat;
}

.form {
	width: 550px;
	height: 35px;
	position: absolute;
	top: 25px;
	left: 320px;
}

.form input {
	width: 495px;
	height: 33px;
	border: 1px solid #F93A60;
	float: left;
	font-size: 14px;
	padding-left: 3px;
}

.form button {
	width: 50px;
	height: 35px;
	background-color: #F93A60;
	float: left;
}